.App1, .App2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #edf2f7;

    height: 400px;
    width: 100vw;
}

.App2 {
    background-color: #e2e8f0;
}

.well{
    width: 400px;
    background-color: #2b6cb0;
    border: 1px solid #2a4365;
    color: #ebf8ff;
    padding: 8px;
    border-radius: 4px;
}
.a, .b, .c {
    height: 300px;
    width: 300px;
    color:#2d3748;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.a {
    background-color: #fed7d7;
    border: 1px solid #c53030;
}
.b {
    background-color: #fbd38d;
    border: 1px solid #9c4221;
}
.c {
    background-color: #fefcbf;
    border: 1px solid #b7791f;
}


