.App {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #edf2f7;

    height: 400px;
    width: 100vw;
}

.a, .b, .c {
    height: 300px;
    width: 300px;
    color:#2d3748;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a {
    background-color: #fed7d7;
    border: 1px solid #c53030;
}
.b {
    background-color: #fbd38d;
    border: 1px solid #9c4221;
}
.c {
    background-color: #fefcbf;
    border: 1px solid #b7791f;
}


